.modalBackground {
    background: rgba(32, 35,41,0.8);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* .Modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.modal-container {
    max-width: 300px;
    max-height: 300px;
    min-width: 200px;
    min-height: 200px;
    background: rgba(255,255,255,0.6);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    transition: all 0.3s;
} */
