.category-button {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.375rem;
    border-width: 2px;
    border-color: #D97706;
    font-weight: 700;
    color: #B45309;
    background-color: #ffffff;
}